header{
    font-family: 'Lato', sans-serif;
    text-align: center;
    border: solid 5px #E8DCC8;
    border-radius: 8px;
    background-color: #768A9C;
    box-shadow: 5px 5px #E8DCC8;
    color: #F7FBFF;
}
    
body {
    font-family: 'Poppins', sans-serif;
    background-color:#C8D9E8;
}

img {
    border: solid 5px #E8DCC8;
    border-radius: 8px;
}
    
#hero {
    
    text-align: center;
}

#portfolio {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-align: left;   
}

#clients {
    text-align: center; 
}

#testimonials {

    text-align: center;   
}

